.leaflet-popup-content-wrapper {
  background-color: var(--body--bg) !important;
  color: var(--color--white) !important;
}

.leaflet-popup-content {
  width: 420px !important;
}

.leaflet-popup-close-button {
  padding: 0.5rem !important;
  width: 2rem !important;
  height: 2.5rem !important;
  color: var(--color--white) !important;
  font-size: 1.5rem !important;
}

.popup-inner {
  &__title {
    position: relative;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    color: rgb(111, 207, 151);

    &::after {
      position: absolute;
      content: "";
      width: 35%;
      height: 2px;
      background-color: rgb(111, 207, 151);
      bottom: -14px;
      left: 0px;
    }

    i {
      padding-top: 0.15rem;
      align-self: flex-start;
      font-size: 1.5rem;
    }
  }

  &__description {
    color: var(--color--white);
    font-size: 1.2rem;
  }

  &__button {
    font-weight: 600;
    font-size: 1.2rem;
    color: rgb(111, 207, 151);

    display: flex;
    align-items: center;
    gap: 0.5rem;

    span {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      gap: 0.5rem;
      line-height: 0;

      i {
        margin-top: -3px;
      }
    }
  }
}
